* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "sidebar content";
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-area: sidebar;
    background-color: #1F2937;
    color: #E5E7EB;
}

.sidebar-header {
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: "Faculty Glyphic", sans-serif;
}

.sidebar-header img {
    margin-right: 10px;
}

.project-list-container {
    height: 100%;
    align-self: center;
}

#project-list {
    list-style-type: none;
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
}

#project-list li:hover {
    color: orange;
    cursor: pointer;
}

.sidebar-controls {
    align-self: last baseline;
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar-controls button {
    width: 40%;
}

button {
    padding: 1rem;
    background-color: #3882F6;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 2px solid white;
    border-radius: 5px;
}

.content-container {
    grid-area: content;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.todo-card {
    background-color: white;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #aaaaaa;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.card-header-text {
    font-family: "Faculty Glyphic",sans-serif;
    margin-right: 1rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card-description {
    font-family: "Covered By Your Grace",sans-serif;
    font-size: 1.5rem;
}

.card-controls {
    display: flex;
    justify-content: flex-end;
}

.card-controls button {
    margin-right: 1rem;
}
.due-date,.priority {
    font-family: "Roboto",sans-serif;
}

.complete {
    background-color: lightgreen;
}

.overdue {
    background-color: lightcoral;
}

.high-priority {
    background-color: yellow;
}

.critical {
    background-color: orange;
}

.priority {
    padding: 10px;
}