* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    --light-color: #E5E7EB;
}

.main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "sidebar content";
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-area: sidebar;
    background-color: #1F2937;
    color: var(--light-color);
}

.sidebar-header {
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: "Faculty Glyphic", sans-serif;
}

.sidebar-header img {
    margin-right: 10px;
}

.project-list-container {
    height: 100%;
    align-self: center;
}

#project-list {
    list-style-type: none;
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
}

#project-list li:hover {
    color: orange;
    cursor: pointer;
}

.sidebar-controls {
    align-self: last baseline;
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar-controls button {
    width: 40%;
    border: 2px solid;
}
.card-controls button {
    border-color: black;
}
button {
    padding: 1rem;
    background-color: #3882F6;
    color: white;
    font-family: "Roboto", sans-serif;
    border-color: white;
    border-radius: 5px;
}

#new-item-button {
    width: 50%;
    align-self: center;
    border-color: black;
}

.content-container {
    grid-area: content;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.todo-card {
    background-color: white;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #aaaaaa;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.card-header-text {
    font-family: "Faculty Glyphic",sans-serif;
    margin-right: 1rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card-description {
    font-family: "Covered By Your Grace",sans-serif;
    font-size: 1.5rem;
}

.card-controls {
    display: flex;
    justify-content: flex-end;
}

.card-controls button {
    margin-right: 1rem;
}
.due-date,.priority {
    font-family: "Roboto",sans-serif;
    padding: 10px;
}

.complete {
    background-color: lightgreen;
}

.overdue {
    background-color: lightcoral;
}

.high-priority {
    background-color: yellow;
    color: black;
}

.critical {
    background-color: orange;
    color: black;
}

.active-group {
    background-color: white;
    color: #1F2937;
}

.modal-bg {
    height: 100vh;
    width: 100vw;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    background-color: rgba(100,100,100,.6);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-list-modal {
    height: 30%;
    width: 30%;
    background-color: var(--light-color);
    place-self: center;
    z-index: 1;
}

.new-list-modal form {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}